body{
  background-color:#000;
}
.radar-main{
  position: relative;
  perspective: 1000;
  -webkit-perspective: 1000;
  width:280px;
  height:368px;
  &>div{
    width:280px;
    height:368px;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-184px;
    margin-left:-140px;
  }
  .radar-inner{
    background:url('./inner.png');
    animation: animInner 2.5s infinite;
  }
  .radar-middle{
    background:url('./middle.png');
    animation: animMiddle 2s linear infinite;
  }
  .radar-outer{
    background:url('./outer.png')
  }
  .radar-circle{
    width: 0;
    height: 0;
    background:#31909F;
    animation: animCircle 2s linear infinite;
    border-radius: 100%;
  }
}

@keyframes animMiddle {
  0%{
    transform:rotate(0deg)
  }
  100%{
    transform:rotate(360deg)
  }
}

@keyframes animInner {
  0%{
    transform:rotate(360deg)
  }
  100%{
    transform:rotate(0deg)
  }
}

@keyframes animCircle{
  0%{
    opacity: 0.3;
    width: 0;
    height: 0;
    margin-left: 0px;
    margin-top: 0px;
  }
  100%{
    opacity: 0;
    width: 196px;
    height:196px;
    margin-left:-98px;
    margin-top:-98px;
  }
}
