<div class='theme'>
    Theme:Move&Spell
</div>
<div class='container'>
    <!--额外内容和叉-->
    <div class='MoreAndFork item'>
        <label for='MoreAndFork'></label>
        <input id='MoreAndFork' type='checkbox' />
        <div class='one'></div>
        <div class='two'></div>
        <div class='three'></div>
    </div>
    <div class='ArrowLeftAndRight item'>
        <label for='ArrowLeftAndRight'></label>
        <input id='ArrowLeftAndRight' type='checkbox' />
        <div class='one'></div>
        <div class='two'></div>
        <div class='three'></div>
        <div class='four'></div>
    </div>
</div>