body{
    padding: 0;
    margin: 0;
    background:#3F51B5;
    background-image: linear-gradient(#EC9D33 40%, #F32C6C 100%);
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:100%;
}
.theme{
    color:#fff;
    font-size:24px;
    position: absolute;
    left:50%;
    top:10%;
    transform:translate(-50%, -50%);
}
.container{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    font-size:30px;
    text-align:center;
    input{
        display:none;
    }
    label{
        width:100%;
        height:100%;
        z-index:100;
        position: relative;
        display:block;
        cursor:pointer;
    }
    .item{
        position: relative;
        width:2em;
        height:2em;
        margin:0 0.2em;
        display:inline-block;
    }
}