$blue:#3af;
$blueLight:#4bf;
$red:#ff5455;

body{
    cursor:not-allowed;
}
canvas{
    position:absolute;
    width:100%;
    height:100%;
}
input{
    outline:none;
    border:none;
    box-shadow:none;
    transition:all 0.2s;
}
input[type=button]{
    padding:5px 10px;
    background-color:$blue;
    color:#fff;
    border-radius:2px;
}
input[type=button]:hover{
    background-color:$blueLight;
}
input[type=text]{
    padding:5px 10px;
    border:1px solid $blue;
    color:$blue;
}
input::-webkit-input-placeholder{
    color:$blue;
}
.drawBoard{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  img{
      display:none;
      border:1px solid $blue;
      opacity:0;
      transition:all 0.2s;
      cursor:auto;
      &.show{
          display:block;
      }
      &.visible{
          opacity:1;
      }
  }
  canvas{
    cursor:auto;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
}
#uploader{
    display:none;
}
#uploaderFace{
    position: absolute;
    left:20px;
    top:20px;
    cursor:pointer;
}
#branchName{
    position: absolute;
    left:123px;
    top:20px;
}
#addBranch{
    position: absolute;
    left:300px;
    top:20px;
    cursor:pointer;
}
#output{
    position: absolute;
    left:353px;
    top:20px;
    cursor:pointer;
}
.tips{
  position: absolute;
  left:405px;
  top:20px;
  font-size:14px;
  pointer-events: none;
  color: $red;
}
.branchList{
  position: absolute;
  left:20px;
  top:60px;
  font-size:20px;
  .branch{
    transition:margin-left 0.2s;
    &.current{
      margin-left:10px;
      color: $blue;
    }
  }
}
