<div class="scene">
  <svg version="1.1" id="dc-spinner" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width:"38" height:"38" viewBox="0 0 38 38" preserveAspectRatio="xMinYMin meet">
    <text x="14" y="19" font-family="Monaco" font-size="2px" style="letter-spacing:0.6" fill="white">LOADING
      <animate attributeName="opacity" values="0;1;0" dur="1.8s" repeatCount="indefinite"/>
    </text>
    <circle cx="19" cy="19" r="17" fill="none" stroke="#ccc" stroke-dashoffset="55" stroke-dasharray="119.32" stroke-width="0.6027" stroke-miterlimit="10">
      <animate attributeType="CSS" attributeName="stroke-dashoffset" from="119.32" to="55" dur="1s" />
      <animateTransform
      attributeName="transform"
      type="rotate"
      from="0 19 19"
      to="360 19 19"
      dur="1.6s"
      repeatCount="indefinite" />
   </circle>
   <circle cx="19" cy="19" r="15" fill="none" stroke="#ddd" stroke-dashoffset="55" stroke-dasharray="119.32" stroke-width="0.2027" stroke-miterlimit="10">
      <animate attributeType="CSS" attributeName="stroke-dashoffset" from="119.32" to="55" dur="1s" />
      <animateTransform
      attributeName="transform"
      type="rotate"
      from="120 19 19"
      to="480 19 19"
      dur="1.2s"
      repeatCount="indefinite" />
    </circle>
  </svg>
</div>
