<!-- <label class='reset' for='reset'>reset</label>

<label class='toggle' for='toggle'>toggle</label>

<div class='prototype'>
    <input id='toggle' class='input-toggle' type='checkbox' />
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div> -->

<div class='crocodile'>
    <div class='tip'></div>
    <div class='crocodile-top'>
        <div class='mouth'>
            <div class='upperJaw'>
                <div class='different'></div>
                <div class='nose'>
                    <div class='hole'></div>
                    <div class='stripe1'></div>
                    <div class='stripe2'></div>
                </div>
                <div class='teeth'>
                    <div class='tooth first'></div>
                    <div class='tooth second'></div>
                    <div class='tooth third'></div>
                    <div class='tooth forth'></div>
                </div>
            </div>
            <div class='lowerJaw'>
                <div class='different'></div>
                <div class='teeth'>
                    <div class='tooth first'></div>
                    <div class='tooth second'></div>
                    <div class='tooth third'></div>
                    <div class='tooth forth'></div>
                </div>
            </div>
        </div>
        <div class='body'>
            <div class='body-eye'>
                <div class='eye-ball'></div>
            </div>
            <div class='body-decoration'>
                <div class='first'></div>
                <div class='second triangle'></div>
                <div class='third triangle'></div>
                <div class='fourth triangle'></div>
            </div>
            <div class='body-bottom'>
                <div class='body-front-leg'>
                    <div class='body-foot'></div>
                </div>
                <div class='body-back-leg'>
                    <div class='body-foot'></div>
                </div>
            </div>
            <div class='tail'>
                <div class='dardPart'></div>
                <div class='different'></div>
            </div>
        </div>
    </div>
    <!-- <div class='deadTooth'></div>
    <div class='teeth'></div> -->
</div>