<!-- https://codepen.io/comehope/pen/GBwvxw -->
<div class='shiningtext'>
    <div class='textorigin' attrtext='ZM1V1'>ZM1V1</div>
    <div class='textBg'></div>
    <div class='shiningBg'></div>
</div>

<div class='colorcircle'>
    <div class='red'></div>
    <div class='green'></div>
    <div class='blue'></div>
</div>

<!-- https://codepen.io/Chokcoco/pen/RVxbWW -->
<div class='errortext'>
    <div attrtext='ZM1V1'>ZM1V1<div class='whiteline'></div></div>
</div>

<div class='void'>
    <div attrtext='Void'><div class='whiteline'></div>Void</div>
</div>