<div class='outer'>
    <div class="container">
        <h1 class="title">Grocery list</h1>
        <input class="toggle" id="toggle" type="checkbox">
        <label class="btn-toggle" for="toggle"></label>
        <i class='divider'></i>
        <input class='progress-check' id='check1' type="checkbox">
        <label class='select-item' for='check1'>
            <div class='select-item-child' style='--item:1'>
                List Item 1
            </div>
        </label>
        <div class='progress'></div>
        
        <input class='progress-check' id='check2' type="checkbox">
        <label class='select-item' for='check2'>
            <div class='select-item-child' style='--item:2'>
                List Item 2
            </div>
        </label>
        <div class='progress'></div>
        
        <input class='progress-check' id='check3' type="checkbox">
        <label class='select-item' for='check3'>
            <div class='select-item-child' style='--item:3'>
                List Item 3
            </div>
        </label>
        <div class='progress'></div>
    </div>
</div>