<div class='theme'>
    Theme:Shrink&Extend
</div>
<div class='container'>
    <!--叉和加-->
    <div class='forkAdd item'>
        <label for='forkAddCheck'></label>
        <input id='forkAddCheck' type='checkbox' />
        <div class='addOne'></div>
        <div class='addTwo'></div>
        <div class='forkOne'></div>
        <div class='forkTwo'></div>
    </div>
    <div class='UpDown item'>
        <label for='forkUpDown'></label>
        <input id='forkUpDown' type='checkbox' />
        <div class='UpLeft'><div></div></div>
        <div class='UpRight'><div></div></div>
        <div class='DownLeft'><div></div></div>
        <div class='DownRight'><div></div></div>
    </div>
</div>